<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=results[0].name%>
    </title>
    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-CSS -->

    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>
    <!--thanh dieu huong-->



    <div id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!--các link điều hướng TRANG CHỦ, BÓNG ĐÁ-->
                    <!--tên chính của tin------------------------------------>
                    <h1 id="header1">
                        <%=results[0].name%>
                    </h1>
                    <!--ngày tháng năm VÀ chia sẻ mạng xã hội------------------>
                    <div class="thoigianLink">
                        <div class="thoigian" style="margin-top: 9px;">
                            <%=results[0].time%>
                        </div>
                        <br>

                        <br>

                        <!--tin tức------------------------------------------------------------------------------------------------------------------------------------------>
                        <div class="tintucChu" style="margin: 5px;">
                            <%=results[0].content1%>
                        </div>
                        <br>
                        <iframe src="<%=results[0].image1%>" alt=" " style="width: 100%;height:480px"></iframe>
                        <div class="tintucChu" style="margin: 5px;">
                            <%=results[0].content2%>
                        </div>
                        <br>
                        <img src="<%=results[0].image2%>" alt=" " style="width: 100%">
                        <div class="tintucChu" style="margin: 5px;">
                            <%=results[0].content3%>
                        </div>
                        <div class="tintucChu" style="margin: 5px;">
                            <%=results[0].content4%>
                        </div>
                        <div class="tintucChu" style="margin: 5px;">
                            <%=results[0].content5%>
                        </div>
                        <br>
                        <div style="float: right;padding-top: 7px">
                            <span><b><%=results[0].author%></b></span>
                        </div>
                    </div>
                    <!--2 div tin nhỏ hơn---------------------------------------------------------------------------->

                    <!--phần giữ nguyên-->

                </div>

            </div>
        </div>
    </div>
    <a href="/xemtindadang/<%=results[0].postManId%>">Về những tin đã đăng</a>
</body>

</html>