<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=results[0].name%>
    </title>
    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-CSS -->

    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body>
    <!--thanh dieu huong-->



    <div id="about" class="section">
        <div class="container">
            <div class="row">
                <form action="" method="post">
                    <div class="col-md-8">
                        <!--các link điều hướng TRANG CHỦ, BÓNG ĐÁ-->
                        <!--tên chính của tin------------------------------------>
                        <h1 id="header1">
                            <h5>name</h5>
                            <textarea style="width: 100%;" name="name" rows="5" type="text" value="<%=results[0].name%>" autocomplete="off"><%=results[0].name%></textarea>
                        </h1>
                        <!--ngày tháng năm VÀ chia sẻ mạng xã hội------------------>
                        <div class="thoigianLink">
                            <div class="thoigian" style="margin-top: 9px;">
                                <h5>time</h5>
                                <textarea style="width: 100%;" name="time" rows="5" type="text" value="<%=results[0].time%>" autocomplete="off"><%=results[0].time%></textarea>
                            </div>
                            <br>

                            <br>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>image1</h5>
                                <textarea style="width: 100%;" name="image1" rows="5" type="text" value="<%=results[0].image1%>" autocomplete="off"><%=results[0].image1%></textarea>
                            </div>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>image2</h5>
                                <textarea style="width: 100%;" name="image2" rows="5" type="text" value="<%=results[0].image2%>" autocomplete="off"><%=results[0].image2%></textarea>
                            </div>
                            <!--tin tức------------------------------------------------------------------------------------------------------------------------------------------>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>content1</h5>
                                <textarea style="width: 100%;" name="content1" rows="5" type="text" value="<%=results[0].content1%>" autocomplete="off"><%=results[0].content1%></textarea>
                            </div>
                            <br>

                            <br>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>content2</h5>
                                <textarea style="width: 100%;" name="content2" rows="5" type="text" value="<%=results[0].content2%>" autocomplete="off"><%=results[0].content2%></textarea>
                            </div>
                            <br>


                            <div class="tintucChu" style="margin: 5px;">
                                <h5>content3</h5>
                                <textarea style="width: 100%;" name="content3" rows="5" type="text" value="<%=results[0].content3%>" autocomplete="off"><%=results[0].content3%></textarea>
                            </div>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>content4</h5>
                                <textarea style="width: 100%;" name="content4" rows="5" type="text" value="<%=results[0].content4%>" autocomplete="off"><%=results[0].content4%></textarea>
                            </div>
                            <div class="tintucChu" style="margin: 5px;">
                                <h5>content5</h5>
                                <textarea style="width: 100%;" name="content5" rows="5" type="text" value="<%=results[0].content5%>" autocomplete="off"><%=results[0].content5%></textarea>
                            </div>
                            <br>
                            <div style="float: right;padding-top: 7px">
                                <span><b>         
                                    <h5>author</h5>                     
                                        <textarea style="width: 100%;" name="author" rows="5" type="text" value="<%=results[0].author%>" autocomplete="off"><%=results[0].author%></textarea>
                                </b></span>
                                <span><b>                              
                                    <select name="hot" type="text" autocomplete="off">
                                            <option value="<%=results[0].hot%>"><%=results[0].hot%></option>
                                            <option value="Y">Là tin hót</option>
                                            <option value="N">Không là tin hót</option>
                                            <option value="YY">Là tin rất hót</option>
                                    </select>
                                </b></span>
                                <span><b>                              
                                    <select name="type" type="text" autocomplete="off">
                                        <option value="<%=results[0].type%>"><%=results[0].type%></option>
                                        <option value="bongda">Bóng đá</option>
                                        <option value="kinhdoanh">Kinh doanh</option>
                                        <option value="bongda">Bóng đá</option>
                                        <option value="kinhdoanh">Kinh doanh</option>
                                        <option value="thitruong">Thị trường</option>
                                        <option value="suckhoe">Sức khỏe</option>
                                        <option value="hitech">Hi-Tech</option>
                                        <option value="showbiz">Showbiz</option>
                                        <option value="thegioi">Thế Giới</option>
                                        <option value="thethao">Thể thao</option>
                                        <option value="phaidep">Phái đẹp</option>
                                        <option value="amthuc">Ẩm thực</option>
                                    </select>
                                </b></span>
                            </div>
                        </div>
                        <!--2 div tin nhỏ hơn---------------------------------------------------------------------------->

                        <!--phần giữ nguyên-->

                    </div>
                    <input type="submit" value="sửa tin">
                    <a href="/hienxemtin/<%=results[0].type%>">Về tin cùng chủ đề</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>